<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductServlet</servlet-name>
  	<display-name>AddProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddGroceryServlet</servlet-name>
  	<display-name>AddGroceryServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.AddGroceryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBillServlet</servlet-name>
  	<display-name>AddBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.AddBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddInsuranceServlet</servlet-name>
  	<display-name>AddInsuranceServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.AddInsuranceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadInventoryServlet</servlet-name>
  	<display-name>DownloadInventoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.deep.servlet.DownloadInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductServlet</servlet-name>
  	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddGroceryServlet</servlet-name>
  	<url-pattern>/AddGroceryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBillServlet</servlet-name>
  	<url-pattern>/AddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddInsuranceServlet</servlet-name>
  	<url-pattern>/AddInsuranceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadInventoryServlet</servlet-name>
  	<url-pattern>/DownloadInventoryServlet</url-pattern>
  </servlet-mapping>
</web-app>
